*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: 'Roboto Condensed', Arial; sans-serif;
  background-color: #f5f6fa;
  text-align: center;
}

h2{
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2.5em;
}

a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*=======Navigation styles========*/

h1{
  font-size: 2em;
}
.main-nav{
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.main-nav ul{
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.main-nav ul li {
  padding: 1em ;
  margin-top: .5em;
  background-color: white;
  font-size: 1em;
}

.main-nav ul li a {
  width: 100%;
  height: 100%;
}

/*=======Header styles========*/
header{
  padding: 2em 1em;
}

header img {
  width: 70%;
}

header p {
  line-height: 1.5em;
}

/*=======Main styles========*/
main{
  background-color: white;
  padding: 2em 1em;
}

article img{
  width: 100%;
}

article div {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

/*=======Footer styles========*/
footer {
  padding:0 1em;
  line-height: 1.5em;
}

footer h2{
  margin-top: 2.5em;
  margin-bottom: 2em;
}

hr{
  margin-top: 3em;
}



footer div h4 {
  float: left;
}

footer div a {
  float: right;
  text-transform: uppercase;
  text-decoration: none;

}

footer div h4,
footer div a {
  margin-top: 1em;
  margin-bottom: 1.5em;
  vertical-align: top;
}

footer div p {
  line-height: 1.5em;
}

.footer-nav {
  display: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/*=======Media Queries========*/

@media (min-width: 768px){
  .main-nav ul {
    display: inline-block;
  }

  .main-nav ul li {
    float: left;
    background-color: inherit;
  }

  header p,
  header img
  {
    vertical-align: top;
  }

  header{
    padding: 2em 2em;
    padding-bottom: 3em;
  }

  header img {
    width: 40%;
    float: right;

  }

  header p {
    float: left;
    width: 55%;
    margin: 0;
    text-align: left;
    font-size: 1.25em;
  }

  article {
    width: 45%;
    float: left;
    margin: .5em;
    font-size: 1.25em;
  }

  article div {
    padding-left: .25em;
    padding-right: .25em;
  }

  footer div p{
    font-size: 1.5em;
    margin: auto;
    width: 75%;
  }

  .footer-link {
    display: none;
  }

  .footer-nav{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  }

  .footer-nav li{
    float: left;
    padding: 0 1em ;
    line-height: 1.5em;

  }
}
